<div class="cart-items-container">
  <mat-card class="example-card my-5">
    <mat-card-header>
      <mat-card-title class="card-title"
        >{{ cartItem.brand }} {{ cartItem.model }}</mat-card-title
      >
      <mat-card-subtitle class="card-title"> Price: {{ cartItem.price }}</mat-card-subtitle>
    </mat-card-header>
    <br />
    <mat-card-content>
      <div>Color: {{ cartItem.color }} Quantity: {{ cartItem.quantity }} Tax: {{ cartItem.tax }}</div>
    </mat-card-content>
    <button mat-raised-button color="accent">Add To Cart</button>
  </mat-card>
</div>
