apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-ui
  template:
    metadata:
      labels:
        app: demo-ui
    spec:
      containers:
        - name: demo-ui
          image: ghcr.io/deepak1067/myrepo/demo-ui:${{ github.sha }}
          ports:
            - containerPort: 8080
      imagePullSecrets:
        - name: ghcr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: demo-ui-service
spec:
  selector:
    app: demo-ui
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer