apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-competency-demo-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-competency-demo-ui
  template:
    metadata:
      labels:
        app: java-competency-demo-ui
    spec:
      containers:
        - name: java-competency-demo-ui
          image: ghcr.io/deepak1067/java-competency-demo-ui
          ports:
            - containerPort: 8080
      imagePullSecrets:
        - name: ghcr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: java-competency-demo-ui-service
spec:
  selector:
    app: java-competency-demo-ui
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer