

  
  <mat-sidenav-container
    id="sidenavContainer"
   fullscreen>
    <mat-sidenav
      mode="side"
      #sidenav
      id="sidenav"
      [class.menu-open]="isMenuOpen"
      [class.menu-close]="!isMenuOpen"
      opened>
      <mat-nav-list>
        <a *ngFor="let menuItem of menuItems" [routerLink]="menuItem.path" mat-list-item routerLinkActive="active" class="nav-item" [ngClass]="{'active': isActiveRoute(menuItem.path)}">
          <mat-icon class="pt-2">{{ menuItem.icon }}</mat-icon>
          <span class="ps-3" [ngClass]="{'d-none':!isMenuOpen}">{{ menuItem.label }}</span>
        </a>
      </mat-nav-list>
      <div class="footer">
          <mat-icon
        (click)="onToolbarMenuToggle()"
        id="toolbarMenu">{{arrowIcon}}</mat-icon>
      </div>
    </mat-sidenav>
    <mat-sidenav-content
    [ngStyle]="{ 'margin-left.px': contentMargin }"
    >
    <div class="container mt-3">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
  </mat-sidenav-container>