#sidenavContainer {
    margin-top: 64px;
}

#sidenav {
    margin-top: -7px;
    width: 290px;
    background: #076599;
}

#sidenav.menu-close {
    width: 80px
}
#sidenav.menu-open {
    width: 290px
}
:host ::ng-deep .mdc-list-item__primary-text {
  color: #ffffff !important;
}
.nav-item{
    padding-top: 30px;
    padding-bottom: 30px;
}
.active{
    background-color: #0426466e;
}
.footer{
    position: absolute;
    bottom: 15px;
    right: 21px;
    color: #ffffff;
}
#toolbarMenu{
    height: 40px;
    width: 40px;
    font-size: 30px;
}