#car-brands{
  margin-top: 120px;
}

.content {
  padding-left: 16px;
  padding-right: 16px;
}

mat-card {
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

button{
  background-color: #FFFFFF;
  border: none;
  font-size: 18px;
  color: #d73b1e;
}

