
.example-card {
  color: #d73b1e;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.example-card-new {
  color: #076599;
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.card-title{
  margin-left: 15px;
}

.info h3 {
  width: 100px;
  text-align: center;
}

.carsList {
  margin-left: auto;
  margin-right: auto;
  height: 25vh;
  background-color: #000000;
  color: #ffffff;
}
