<header>
  <mat-toolbar class="mat-elevation-z1 toolbar">
    <div class="nashTechLogo">
      <img [src]="nashTechLogoUrl" alt="NashTech logo" />
    </div>
    <div class="centered-content">
      <div class="navLinks">
        {{ Title }}
      </div>
    </div>
    <div class="navLinks align-text-bottom description">
      {{ Description }}
    </div>
  </mat-toolbar>
</header>
<div class="my-5">
    <mat-chip-listbox aria-label="Cloud Selection">
      <mat-chip
        *ngFor="let cloudItem of cloudOptions"
        [routerLink]="cloudItem.path"
        routerLinkActive="active"
        ><img
          matChipAvatar
          src="{{
          cloudItem.icon
          }}"
          alt="Icon of Cloud Item"
        />{{ cloudItem.label }}</mat-chip
      >
    </mat-chip-listbox>
<!--  <a-->
<!--    *ngFor="let cloudItem of cloudOptions"-->
<!--    class="custom-link m-2 data-resource"-->
<!--    mat-button-no-ripple-->
<!--    [routerLink]="cloudItem.path"-->
<!--    routerLinkActive="active"-->
<!--  >-->
<!--    {{ cloudItem.label }}-->
<!--  </a>-->
</div>
<router-outlet></router-outlet>
