.nashTechLogo img {
  width: 60px;
  height: 60px;
}

.toolbar {
  background-color: white;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks a + a {
  margin-left: 100px;
}

.custom-link.active {
  color: #d73b1e;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.descreption {
  margin-top: 30px;
  font-size: 18px;
}

@media screen and (max-width: 1084px) {
  .descreption {
    font-size: 14px;
    /* Adjust the font size as per your requirements */
  }
}

@media screen and (max-width: 581px) {
  .descreption {
    font-size: 10px;
    /* Adjust the font size as per your requirements */
  }
}

.custom-link {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.data-resouce {
  font-size: 25px;
  color: red;
}
