<header>
  <mat-toolbar class="mat-elevation-z1 white-toolbar">
    <div class="nashTechLogo">
      <img [src]="nashTechLogoUrl" alt="nashTechLogo" />
    </div>
    <div class="centered-content">
      <div class="navLinks">
        <a
          class="custom-link"
          mat-button-no-ripple
          [routerLink]="azureLink"
          routerLinkActive="active"
          >AZURE</a
        >
        <a
          class="custom-link"
          mat-button-no-ripple
          [routerLink]="gcpLink"
          routerLinkActive="active"
          >GCP</a
        >
      </div>
    </div>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
