.logo img {
  width: 60px;
  height: 60px;
}
.white-toolbar {
  background-color: white;
}

.centered-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-links a + a{
  margin-left: 40px;
}

.active {
  color: red !important;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-link {
  font-size: 18px;
}


