.search-result-cards{
  margin-left: -200px;
}

.add-to-cart-button{
  height: fit-content;
  width: fit-content;
  margin-top: 100px;
  margin-left: 20px;
  background-color: #076599;
  color: white;
  border: none;
  border-radius: 5px;
  flex-grow: 0.05;
  }